.media-container {
    display: flex;
    padding: 24px;
    gap: 24px;
    min-height: 100vh; 
    margin: 0 auto;
    
  }
  
  
  /* Left Section */
  .poster-section {
    flex: 0 0 300px;
  }
  
  .media-poster {
    width: 100%;
    height: 100%;
      max-height: 120vh;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Right Section */
  .content-section {
   
    display: flex;
    flex-direction: column;
    
  }
  
  /* Details (Top Right) */
  .details-section {
    
    padding: 10px 0 20px 0;
  }
  
  .media-title {
    font-size: 2.2rem;
    margin-bottom: 5px;
    line-height: 1.2;
  }
  
  .media-overview {
    margin-top: 1rem;
    margin-bottom: 10px;
    line-height: 3;
    color: #c9c6c6;
    
  }
  
  .genre-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 1.5rem;
    margin-bottom: 16px;
  }
  
  .genre-tag {
    background-color: #e0f2ff;
    color: #0a66c2;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 999px;
    font-weight: 500;
  }
  
  /* Meta */
  .media-meta p {
    margin-top: 2.5rem;
    font-size: 15px;
    
  }
  
  .review-textarea {
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    resize: vertical;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
  }
  
  .submit-review-btn {
    padding: 0.5rem 1rem;
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 1rem;
  }
  
  .submit-review-btn:hover {
    background-color: #45a049;
  }
  
  
  .review {
    
    padding-top: 0.5rem;
    margin-top: 0.5rem;
  }
  
  @media (max-width: 768px) {
    .media-container {
      flex-direction: column;
      padding: 16px;
      height: auto;
    }
  
    .poster-section {
      flex: none;
      width: 100%;
      margin-bottom: 20px;
    }
  
    .media-poster {
      width: 100%;
      height: auto;
    }
  
    .content-section {
      width: 100%;
    }
  
    .media-title {
      font-size: 1.8rem;
      text-align: center;
      margin-top: -1.3rem;
    }
  
    .media-overview {
      margin-top: 1.5rem;
      margin-bottom: 12px;
      line-height: 1.8;
      font-size: 0.95rem;
    }
  
    .genre-container {
      justify-content: center;
      gap: 8px;
    }
  
    .genre-tag {
      font-size: 12px;
      padding: 5px 10px;
    }
  
    .review-textarea {
      font-size: 0.95rem;
    }
  
    .submit-review-btn {
      width: 100%;
      padding: 0.6rem;
      font-size: 1rem;
    }
  
    .review {
      font-size: 0.95rem;
    }
  }
  
