.register {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: 'Segoe UI', sans-serif;
    z-index: 1;
  }
  .register-background {
    min-height: 100vh;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    pointer-events: none;
  
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url('/images/Shadows.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    animation: zoomFade 20s ease-in-out infinite;
  }
  
  
  .register form {
    width: 90%;
    max-width: 400px;
    padding: 2rem;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
  
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #fff;
    animation: slideIn 0.6s ease-out;
  }
  
  .register h1 {
    font-family: 'Azonix', sans-serif;
    color: #fff;
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }
  
  .register input {
    padding: 0.8rem;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    outline: none;
    transition: 0.3s ease;
  }
  .register a {
    color: #e7d3e6c2; 
    text-decoration: none;
  }
  
  .register a:hover {
    color: #ea00ff; 
    text-decoration: underline;
  }
  .register input::placeholder {
    color: #bbb;
  }
  .register p {
    color: #bbb;
    font-size: 0.9rem;
    text-align: center;
  }
  
  .register input:focus {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 0 2px #ea00ff66;
  }
  
  .register button {
    padding: 0.8rem;
    background: linear-gradient(135deg, #ea00ff, #b300ff);
    border: none;
    border-radius: 12px;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s;
  }
  
  .register button:hover {
    background: linear-gradient(135deg, #c300ff, #ff0099);
    transform: scale(1.02);
  }
  .register-footer {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #ccc;
  }
  
  .register a {
    color: #ea00ff;
    text-decoration: none;
    font-weight: 500;
  }
  
  .register a:hover {
    text-decoration: underline;
    color: #ff0099;
  }
  