.home-header-buttons {
    display: flex;
    gap: 10px; 
    height: 25px;
    margin-top: 2.5rem;;
    margin-left: 13rem; 
    margin-right: 1rem;
}

.home-header-buttons a {
    text-decoration: none;
    background: linear-gradient(135deg, #e100ff, #b30036);
    color: white;
    padding: 6px 12px;  
    border-radius: 6px; 
    font-weight: 500; 
    font-size: 14px; 
    transition: background 0.3s ease, transform 0.2s ease;
}

.home-header-buttons a:hover {
    background: #970390; 
    transform: scale(1.05);  
}

.home-header-buttons a:active {
    transform: scale(0.95);  
}

.home-header-buttons button {
    text-decoration: none;
    background: linear-gradient(135deg, #e100ff, #b30036);
    color: white;
    border: none;
    border-radius: 6px;  
    font-weight: 500;
    font-size: 14px;
    transition: background 0.3s ease, transform 0.2s ease;
    margin-left: 8rem; /* Adjusted margin for better alignment */
}
  
 
  